/* Estilos generales */
body {
  font-family: Arial, sans-serif; /* Fuente predeterminada para el cuerpo */
  background-color: #f2f2f2; /* Color de fondo */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
}

.container {
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 20px; /* Espaciado interno */
  background-color: #fff; /* Color de fondo del contenedor */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

h2 {
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 20px; /* Margen inferior */
  font-size: 24px; /* Tamaño del título */
}

.form-group {
  margin-bottom: 20px; /* Margen inferior */
}

label {
  display: block; /* Hace que los etiquetas se muestren en una línea separada */
  margin-bottom: 5px; /* Margen inferior */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Borde redondeado */
}

button[type="submit"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  background-color: #ff0000; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar */
}

button[type="submit"]:hover {
  background-color: #cc0000; /* Cambia el color de fondo al pasar */
}

.back-button {
  display: block; /* Hace que el enlace se muestre en una línea separada */
  text-align: center; /* Centra el texto */
  margin-top: 20px; /* Margen superior */
  text-decoration: none; /* Elimina la decoración del enlace */
  color: #333; /* Color del texto del enlace */
}

.back-button:hover {
  color: #666; /* Cambia el color del texto al pasar */
}
